[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/woldan/vim-sensible.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-tbone"]
	path = bundle/vim-tbone
	url = https://github.com/tpope/vim-tbone.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-obsession"]
	path = bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "bundle/Solarized"]
	path = bundle/Solarized
	url = https://github.com/vim-scripts/Solarized.git
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-tabular"]
	path = bundle/vim-tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-dash"]
	path = bundle/vim-dash
	url = https://github.com/rizzatti/dash.vim.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "bundle/vim-syntastic"]
	path = bundle/vim-syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-ags"]
	path = bundle/vim-ags
	url = https://github.com/gabesoft/vim-ags
[submodule "bundle/vim-ycm"]
	path = bundle/vim-ycm
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/vim-tagbar"]
	path = bundle/vim-tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/vim-undotree"]
	path = bundle/vim-undotree
	url = https://github.com/mbbill/undotree.git
